</<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="fondo">
	<div 	
  		<h1 style=" font-size: 80px; text-align: center;">¡Bienvenidos a Trasvasije!</h1>
  	</div>
  <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
  <div id="cintaimagen"></div>
</body>
</html>
