<h1>Editing Order</h1>

<%= render 'form', productos: @order.products, materiales: @order.matters,productos2: Product.diferencia(@order.products), materiales2: Matter.diferencia(@order.matters), cantidades_products: OrderProduct.cantidades(@order.id, 0), cantidades_matters: CustomerMatter.cantidades(@order.id, 0),editar: true %>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
