.be-gray{
  background-color:#383838;
}
.blanco{
  color: white;
}
a:visited{
  color: inherit !important;
}
ul{
  list-style:none;
}   
.bloque li a {
  color: white;
  background-color:#383838;
  text-decoration:none;
  display:block;
  padding: 10px 10px;
  opacity: 0.8;
}
.bloque li a:hover {
  background-color:#19c589;
}
.bloque li ul {
  display:none;
  position:absolute;
  min-width:134px;
}   
.bloque li:hover > ul {
  display:block;
}
.bloque ul li:hover{
  background-color:19c589;
}