*{
  margin:0px;
  padding:0px;
}
.be-blue{
  background-color:#383838;
}
.blanco{
  color: white;
}
a:visited{
  color: inherit !important;
}
ul{
  list-style:none;
}   
.bloque li a {
  background-color:#383838;
  text-decoration:none;
  display:block;
  padding: 10px 10px;
  opacity: 0.8;
}
.bloque li a:hover {
  background-color:#19c589;
}
.bloque li ul {
  display:none;
  position:absolute;
  min-width:134px;
}   
.bloque li:hover > ul {
  display:block;
}
.bloque ul li:hover{
  background-color:19c589;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?swztvz');
    src:    url('fonts/icomoon.eot?swztvz#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?swztvz') format('truetype'),
        url('fonts/icomoon.woff?swztvz') format('woff'),
        url('fonts/icomoon.svg?swztvz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
    content: "\e994";
}

span{
  font-size:15px;
  color:grey;
}